@tailwind base;
@tailwind components;
@tailwind utilities;

.borde {
  border: 35px solid white;
}

body {
  font-family: open sans;
}
h1,
h2,
h3 {
  font-family: uchen;
}
.trabajo {
  flex-shrink: 0;
  width: 100%;
}
.marco-superior {
  top: 20px;
  width: auto;
  left: 20px;
  right: 20px;
}
.altura {
  height: 32rem;
  width: 100%;
}

.img-modal {
  height: 25rem;
  width: 27rem;
}
.marco-izquierdo {
  height: auto;
  top: 20px;
  bottom: 20px;
}

.tns-controls {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tns-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.proyecto {
  background-color: rgb(230, 237, 230);
}

#modal {
  min-height: 16rem;
}
h5 {
  font-weight: bold !important;
  padding-bottom: 20px;
  color: black;
  text-align: center;
}

.marco-derecho {
  height: auto;
  top: 20px;
  bottom: 20px;
}

.conocimientos {
  --c: #10b981; /* the color */

  background: linear-gradient(90deg, #fff 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  overflow: hidden;
}
.tarjeta:hover {
  --_p: 100%;
  color: white;
  overflow: hidden;
}

/* .slider-right {
  position: absolute;
  animation: latidos 1s, mymoveright 3s;

  animation-iteration-count: infinite;
}

.slider-left {
  position: absolute;
  animation: mymoveleft 3s, latidos 1s;
  animation-iteration-count: infinite;
} */
/* 
@media (min-width: 760px) {
  @keyframes mymoveleft {
    from {
      left: 700px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes latidos {
    from {
      transform: none;
    }
    50% {
      transform: scale(1.4);
    }
    to {
      transform: none;
    }
  }

  @keyframes mymoveright {
    from {
      left: 0px;
    }
    to {
      left: 700px;
    }
  }
}
 */
@media (max-width: 720px) {
  .altura {
    height: 13rem;
    object-fit: cover;
  }
}
